@use 'tokens' as *;

// RS School Responsive Breakpoints
$breakpoint-mobile: 576px; // Mobile range including 375px
$breakpoint-tablet: 768px; // Tablet range up to 768px
$breakpoint-laptop: 1280px; // Laptop intermediate range
$breakpoint-desktop: 1920px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == 'laptop' {
    @media (max-width: $breakpoint-laptop) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: #{$breakpoint-tablet + $border-width-thin}) {
      @content;
    }
  }
}
